{% extends 'base.html.twig' %}

{% block title %}Campaign List{% endblock %}

{% block body %}

    <div class="container">
        <h1>List des Campagnes</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Objectif</th>
                    <th>Nom du créateur</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for campaign in campaigns %}
                <tr>
                    <td>{{ campaign.campaignName }}</td>
                    <td>{{ campaign.campaignContent }}</td>
                    <td>{{ campaign.campaignGoal }}</td>
                    <td>{{ campaign.name }}</td>
                    <td>
                        <a class="btn deep-orange lighten-1" href="{{ path('campaign_show', {'id': campaign.id}) }}">show<i class="material-icons right">remove_red_eye</i></a>

                        {# IF CONNECTED MODIFY/DELETE YOUR CAMPAIGN #}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and (user.id == campaign.user.id) %}

                            
                        <a class="btn deep-orange" href="{{ path('campaign_edit', {'id': campaign.id}) }}">edit<i class="material-icons right">edit</i></a>
                        
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>
        
        {# ************** BTN CREATE CAMPAIGN **************#}
        <div class="card col s12 m12 l8 offset-l2">
            <div class="card-content center">
                <a href="{{ path('campaign_new') }}" type="submit" class="btn-large waves-effect waves-light deep-orange lighten-1 col s12 l4">Create new<i class="material-icons right">add</i></a>
            </div>
        </div>
    </div>
    <br>

{% endblock %}
