{% extends 'base.html.twig' %}

{% block title %}Campaign List{% endblock %}

{% block body %}

    <div class="container">
        <h1>Campaign List</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>CampaignName</th>
                    <th>CampaignContent</th>
                    <th>CampaignGoal</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for campaign in campaigns %}
                <tr>
                    <td>{{ campaign.id }}</td>
                    <td>{{ campaign.campaignName }}</td>
                    <td>{{ campaign.campaignContent }}</td>
                    <td>{{ campaign.campaignGoal }}</td>
                    <td>{{ campaign.name }}</td>
                    <td>{{ campaign.email }}</td>
                    <td>
                        <a class="btn pink" href="{{ path('campaign_show', {'id': campaign.id}) }}">show</a>
                        <a class="btn" href="{{ path('campaign_edit', {'id': campaign.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>
        
        <a class="waves-effect waves-light btn pink lighten-1" href="{{ path('campaign_new') }}">Create new</a>
    </div>
    <br>

{% endblock %}
